@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Overpass+Mono:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, serif;
    color: var(--primary-color);
}

body{
    background-color: var(--dark-mode);
    transition: background-color 0.5s ease;
}

:root{
    --primary-color: #3fd2c7;
    --dark-mode: #17203D;
    --password-text: red;
    --copied-text: #3fd2c7;
    --zoom-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.main-container{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    justify-content: center;
    padding: 1.5rem;
}

.title{
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
}

/* Theme switch button styling */
#darkButton{
    text-align: center;
    align-self: center;
}

.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* Left Portion where we have to add password length */
#passwordArea{
    display: flex;
    flex-direction: column;
    row-gap: 0.6rem;
    font-size: 1.25rem;
    font-weight: 600;
    text-align: center;
    align-items: center;
}

.copyText{
    color: var(--primary-color);
}

#passSpan{
    border-radius: 4px;
    border: none;
    color: var(--password-text);
    font-family: "Overpass Mono", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    background-color: black;
    font-style: normal;
    padding: 0.4rem 0.8rem;
}

#passLength{
    padding: 0.4rem 0.8rem;
    font-size: 1.1rem;
    width: 15rem;
    font-weight: 500;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.096);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    color: black;
    background-color: wheat;
    transition: all 0.5s;
}

#passLength:hover{
    transform: scale(1.1);
    box-shadow: var(--zoom-shadow)
}

#passLength:focus{
    outline: 1px solid rgba(0, 0, 0, 0.174);
}

#passLength::placeholder{
    font-size: 0.75rem;
}

.description{
    font-size: 0.7rem;
    color: var(--primary-color);
    transition: all 0.5s ease;
}

#generateButton{
    align-self: center;
    margin: 0;
}

/* Right portion where we have to select types */
#types{
    text-align: center;
    display: grid;
    margin: 1.3rem 0;
    animation: rightMoveIn 0.6s linear;
}

@keyframes rightMoveIn {
    from{
        opacity: 0;
        transform: translateX(100%);
    }

    to{
        opacity: 1;
        transform: translateX(0);
    }
}

.passTypes{
    text-align: center;
    font-weight: 600;
    font-size: 1.25rem;
    margin: 0.5rem;
}

#reloadButton{
    text-align: center;
    align-self: center;
}

button{
    background-color: var(--primary-color);
    color: black;
    margin: 0.5rem;

    border: none;
    padding: 0.5rem 1.5rem;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 5px;
    transition: all 0.5s;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

button:hover{
    box-shadow: var(--zoom-shadow);
    transform: scale(1.05);
}

button:active{
    opacity: 0.7;
}

@media all and (max-width: 800px) {
    .title{
        font-size: 1.8rem;
    }

    .container{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-around;
        gap: 1.5rem;
        margin: 1.5rem;
    }

    .description{
        display: none;
    }

    @keyframes rightMoveIn {
        from{
            opacity: 0;
            transform: translateY(30%);
        }
    
        to{
            opacity: 1;
            transform: translateY(0);
        }
    }

    #reloadButton{
        animation: rightMoveIn 0.6s linear;
    }


    button{
        font-size: 1rem;
    }
}